# Kirby
public/media/*
content/*
kirby/*
storage/*
site/plugins/*
site/config/*
!site/config/config.php
!site/config/config.localhost.php
!site/config/config.example.vhost.php

# Don't ignore custom plugins
!site/plugins/custom-*

# Generated assets folder
public/assets/*

# Vhost configuration used for Browsersync
.vhost.js

# Backup
backup/*

# Composer
vendor/*

# Node JS
node_modules/*
npm-debug.log

# Editors and IDEs
.idea
.vscode

# macOS stuff
.DS_Store
